<% provide :title, t("help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | <% t("rortas") %></title>
  </head>
  <body>
    <h1><% t("help") %></h1>
    <p>
      <%= t("Get_help_on_the_Ruby_on_Rails_Tutorial_at_the") %>
      <a href="http://www.railstutorial.org/help">
        <%= t("Rails_Tutorial_help_section") %></a>.
      <%= t("To_get_help_on_this_sample_app,_see_the")%>
      <a href="http://www.railstutorial.org/book"><em><%= t("rails_note") %>
        </em> <%= t("book")%></a>.
    </p>
  </body>
</html>
